@model login.Models.PeopleData
@using login.Models.Enumeradores
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Manage/_Layout.cshtml";
}
<title>Editando a @Model.Nombre</title>
<style>




    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-sm-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .title, .title a {
        color: #3c4858;
        text-decoration: none;
    }

    h4 {
        font-size: 1.125rem;
        font-weight: 300;
    }

    .nfileinput {
        display: inline-block;
        margin-bottom: 9px;
    }

    .text-center {
        text-align: center !important;
    }

    .nfileinput .thumbnail.img-circle {
        border-radius: 50%;
        max-width: 100px;
    }

    .nfileinput .thumbnail {
        display: inline-block;
        margin-bottom: 10px;
        overflow: hidden;
        text-align: center;
        vertical-align: middle;
        max-width: 250px;
        box-shadow: 0 10px 30px -12px rgba(0,0,0,.42),0 4px 25px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2);
    }

    .thumbnail {
        border: 0 none;
        border-radius: 4px;
        padding: 0;
    }

    mbtn:not(:disabled):not(.disabled) {
        cursor: pointer;
    }

    .nfileinput .mbtn {
        vertical-align: middle;
    }

    .mbtn.mbtn-round {
        border-radius: 30px;
    }

    .mbtn.mbtn-rose {
        color: #fff;
        background-color: #e91e63;
        border-color: #e91e63;
        box-shadow: 0 2px 2px 0 rgba(233,30,99,.14),0 3px 1px -2px rgba(233,30,99,.2),0 1px 5px 0 rgba(233,30,99,.12);
    }
    .mbtn.mbtn-danger {
        color: #fff;
        background-color: darkred;
        border-color: darkred;
        box-shadow: 0 2px 2px 0 rgba(233,30,99,.14),0 3px 1px -2px rgba(233,30,99,.2),0 1px 5px 0 rgba(233,30,99,.12);
    }

    .mbtn-file {
        position: relative;
        overflow: hidden;
        vertical-align: middle;
    }

    .mbtn {
        outline: 0;
    }

    .mbtn {
        position: relative;
        padding: 12px 30px;
        margin: .3125rem 1px;
        font-size: .75rem;
        font-weight: 400;
        line-height: 1.428571;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0;
        cursor: pointer;
        background-color: transparent;
        border: 0;
        border-top-color: currentcolor;
        border-right-color: currentcolor;
        border-bottom-color: currentcolor;
        border-left-color: currentcolor;
        border-radius: .2rem;
        transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1);
        will-change: box-shadow,transform;
    }

    .nfileinput-new .fileinput-exists {
        display: none;
    }

    .mbtn-file > input {
        position: absolute;
        top: 0;
        right: 0;
        /*width: 100%;*/
        height: 100%;
        margin: 0;
        font-size: 23px;
        cursor: pointer;
        filter: alpha(opacity=0);
        opacity: 0;
        direction: ltr;
    }


    .userempleo {
      
        /*left: 0;
top: 0;*/
        width: 100px !important;
        height: 100px !important;
        border-radius: 50%;
    }


</style>

<div class="content mt-3">
    <div class="animated fadeIn">

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Edición</strong>
                    </div>
                    <div class="card-body">
                        <!-- Credit Card -->

                        <div id="pay-invoice">
                            <div class="card-body">
                                <div class="card-title">

                                    <h3 class="text-center">Editando a @Model.Nombre</h3>



                                    <hr>

                                    <form asp-action="edit" enctype="multipart/form-data">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                        <div class="col-sm-4">

                                        </div>
                                        <div class="nfileinput nfileinput-new text-center" data-provides="fileinput">
                                            <div class="fileinput-new thumbnail img-circle">
                                                <img src="~/images/@Model.Image" class="rounded-circle userempleo" id="blah" />
                                            </div>
                                            <div class="fileinput-preview fileinput-exists thumbnail img-circle"></div>
                                            <div>
                                                <span class="mbtn mbtn-round mbtn-rose mbtn-file">
                                                    <span class="fileinput-new">Editar foto</span>
                                                    <span class="fileinput-exists">Change</span>
                                                    <input asp-for="Image" name="img" type="file" accept="image/*" onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])" />

                                                </span>
                                                <br />
                                                <a href="#pablo" class="mbtn mbtn-danger mbtn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                                            </div>
                                        </div>

                                          <input name="Image" hidden value="@Model.Image" />
                                        <div class="form-group">
                                            <label asp-for="Nombre" class="control-label mb-1"></label>
                                            <input asp-for="Nombre" class="form-control" />
                                            <span asp-validation-for="Nombre" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Apellido" class="control-label mb-1"></label>
                                            <input asp-for="Apellido" class="form-control" />
                                            <span asp-validation-for="Apellido" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Sexo" class="control-label mb-1"></label>
                                            <select asp-for="Sexo" class="form-control custom-select" asp-items="@Html.GetEnumSelectList<SexTypes>()"> </select>
                                            <span asp-validation-for="Sexo" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Address" class="control-label mb-1"></label>
                                            <input asp-for="Address" class="form-control" />
                                            <span asp-validation-for="Address" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Cargo" class="control-label mb-1"></label>
                                            <select asp-for="Cargo" asp-items="@Html.GetEnumSelectList<CargosType>()" class="form-control"></select>
                                            <span asp-validation-for="Cargo" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Celular" class="control-label mb-1"></label>
                                            <input asp-for="Celular" class="form-control" />
                                            <span asp-validation-for="Celular" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Sueldo" class="control-label mb-1"></label>
                                            <input asp-for="Sueldo" class="form-control" />
                                            <span asp-validation-for="Sueldo" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="FechaNacimiento" class="control-label mb-1 "></label>
                                            <input asp-for="FechaNacimiento" type="date" class="form-control" />
                                            <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="FechaIngreso" class="control-label mb-1"></label>
                                            <input asp-for="FechaIngreso" type="date" class="form-control" />
                                            <span asp-validation-for="FechaIngreso" class="text-danger"></span>
                                        </div>
                                        @*<input asp-for="Image" type="text" accept="image/*"   />*@

                                        <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                            <i class="fa fa-user-plus fa-lg"></i>&nbsp;
                                            <span id="payment-button-amount">Guardar</span>
                                            <span id="payment-button-sending" style="display:none;">Guardando Cambios…</span>
                                        </button>
                                        <script>

                                            swal({
                                                title: 'Are you sure?',
                                                text: "You won't be able to revert this!",
                                                type: 'warning',
                                                showCancelButton: true,
                                                confirmButtonColor: '#3085d6',
                                                cancelButtonColor: '#d33',
                                                confirmButtonText: 'Yes, delete it!'
                                            }).then((result) => {
                                                if (result.value) {
                                                    swal(
                                                        'Deleted!',
                                                        'Your file has been deleted.',
                                                        'success'
                                                    )
                                                }
                                            })

                                        </script>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div> <!-- .card -->
                </div><!--/.col-->
            </div>
        </div>
    </div>
</div> 
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
    <script src="~/material/sweetalert2.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
