@model login.Models.ChooseUs

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Manage/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ChooseUs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Option)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Option)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
